* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 75vh;
    background: #efdac7;
    border: 2px black solid;
}

.rectangle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid;
    font-size: 25px;
}